# Example of .env file. Check out 1Password for the actual values.

NUR_API_HOST=localhost
NUR_API_PORT=8000

CONFLUENCE_BASE_URL="https://<namespace>.atlassian.net/"
CONFLUENCE_USER="user@example.com"
CONFLUENCE_API_TOKEN="???"

OPENAI_API_KEY="sk-???"
OPENAI_ASSISTANT_ID_QA="asst_???"
OPENAI_ASSISTANT_ID_KNOWLEDGE_GAP="asst_???"

SLACK_APP_TOKEN="xapp-???"
SLACK_BOT_TOKEN="xoxb-???"
